<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <title>Информационная система по продаже и покупке компьютерной техники</title>
	<link rel="stylesheet" href="bootstrap.css" /> 
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
				<a class="navbar-brand"><font size="5" face="cursive">Компьютерная техника</font></a>
				</div>
			
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
	
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://localhost:27010/about">О сервисе</a></li>
					</ul>				
					<ul class="nav navbar-nav navbar-right">
						{% if auth %}
						<li><a href="http://localhost:27010/logout">Выйти</a></li>
						{% endif %}
						<li><a href="http://localhost:27010/authorize">Вход</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://localhost:27010/main">Главная</a></li>
					</ul>
				</div>
			</div>
		</nav>
    </div>
	
	
	<div class="container">
		{% if errorInfo %}
		  <div class="alert alert-danger">
			{{errorInfo}}
		  </div>
		{% endif %}
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Вход</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" action="http://localhost:27010/authorize" method="post" role="form" style="display: block;">
									<input type="hidden" name="callback" id="callback" value="{{callback}}" />

									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Логин" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Пароль">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="3" class="form-control btn btn-primary" value="Войти">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="button" name="go-to-register_user" id="go-to-register_user" tabindex="4" class="form-control btn btn-primary" onclick="location.href='http://localhost:27010/user_register'" value="Регистрация">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body></html>