<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <title>Информационная система по продаже и покупке компьютерной техники</title>
	<link rel="stylesheet" href="/bootstrap.css" /> 
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
				<a class="navbar-brand"><font size="5" face="cursive">Компьютерная техника</font></a>
				</div>
			
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://localhost:27010/about">О сервисе</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if auth %}
						<li><a href="http://localhost:27010/logout">Выйти</a></li>
						{%else%}
						<li><a href="http://localhost:27010/authorize">Вход</a></li>
						{% endif %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if auth %}
						<li><a href="http://localhost:27010/userinfo/me">Личный кабинет</a></li>
						{% endif %}
					</ul>	
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://localhost:27010/main">Главная</a></li>
					</ul>					
				</div>
			</div>
		</nav>
    </div>
	<div class="container">
    	<div class="row">
			<div class="col-md-3 col-md-offset-0">
				<ul class="nav nav-pills nav-stacked">
				<li><a href="http://localhost:27010/userinfo/me">Личная информация</a></li>
				<li><a href="http://localhost:27010/userinfo/myorder">Мои заказы</a></li>
				<li class="active"><a href="http://localhost:27010/userinfo/myshops">Мои магазины</a></li>
				<li><a href="http://localhost:27010/shop_register">Регистрация магазина</a></li>
				</ul>
			</div>
			<div class="col-md-9 col-md-offset-0">
			<form class="form-horizontal" method="POST">
				<fieldset>
					<legend>Товар магазина "{{shop}}"</legend>
					{% if warningInfo %}
					<div class="alert alert-warning">
						{{warningInfo}}
					</div>
					{% elif errorInfo %}
					<div class="alert alert-danger">
						{{errorInfo}}
					</div>
					{% else %}
					{% if successInfo %}
						<div class="alert alert-success">
							{{successInfo}}
						</div>
					{% endif %}
					<div class="form-group">
						<label for="code" class="col-md-3 control-label">Код:</label>
						<div class="col-md-6">
							<input type="text" class="form-control" name="code" id="code" value="{{product.code}}">
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-md-3 control-label">Название:</label>
						<div class="col-md-6">
							<input type="text" class="form-control" name="name" id="phone" value="{{product.phone}}">
						</div>
					</div>
					<div class="form-group">
						<label for="type" class="col-md-3 control-label">Тип товара:</label>
						<div class="col-md-6">
							<input type="text" class="form-control" name="type" id="type" value="{{product.type}}">
						</div>
					</div>
					<div class="form-group">
						<label for="company" class="col-md-3 control-label">Компания:</label>
						<div class="col-md-6">
							<input type="text" class="form-control" name="company" id="company" value="{{product.email}}">
						</div>
					</div>
					<div class="form-group">
						<label for="price" class="col-md-3 control-label">Цена:</label>
						<div class="col-md-6">
							<input type="text" class="form-control" name="price" id="price" value="{{product.price}}">
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-6 col-md-offset-3">
							<button type="submit" class="btn btn-primary">Сохранить изменения</button>
						</div>
					</div>
					{% endif %}					
				</fieldset>
			</form>
			</div>
		</div>
	</div>
</body>
</html>