<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <title>Информационная система по продаже и покупке компьютерной техники</title>
	<link rel="stylesheet" href="bootstrap.css" /> 
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand"><font size="5" face="cursive">Компьютерная техника</font></a>
				</div>
			
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://localhost:27010/about">О сервисе</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if auth %}
						<li><a href="http://localhost:27010/logout">Выйти</a></li>
						{%else%}
						<li><a href="http://localhost:27010/authorize">Вход</a></li>
						{% endif %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if auth %}
						<li><a href="http://localhost:27010/userinfo/me">Личный кабинет</a></li>
						{% endif %}
					</ul>	
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://localhost:27010/main">Главная</a></li>
					</ul>					
				</div>
			</div>
		</nav>
    </div>
	<div class="container">
    	<div class="row">
			<div class="col-md-2 col-md-offset-0">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="http://localhost:27010/search/product">Поиск товара</a></li>
					<li><a href="http://localhost:27010/search/shop">Поиск магазина</a></li>
				</ul>
			</div>
			<div class="col-md-9 col-md-offset-0">
				<form class="form-horizontal" method="POST">
					<p><img src="main.png" width=882 height=296 alt="Картинка техники"></p>
					<div class="text">
						<p>Добро пожаловать на сайт по поиску компьютерной техники. Вы можете не авторизовываясь, сразу приступить к поиску товара.</p>
					</div>
				</form>
			</div>
		</div>
	</div>
	
</body>
</html>