<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <title>Информационная система по продаже и покупке компьютерной техники</title>
	<link rel="stylesheet" href="/bootstrap.css" /> 
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
				<a class="navbar-brand"><font size="5" face="cursive">Компьютерная техника</font></a>
				</div>
			
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://localhost:27010/about">О сервисе</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if auth %}
						<li><a href="http://localhost:27010/logout">Выйти</a></li>
						{%else%}
						<li><a href="http://localhost:27010/authorize">Вход</a></li>
						{% endif %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if auth %}
						<li><a href="http://localhost:27010/userinfo/me">Личный кабинет</a></li>
						{% endif %}
					</ul>	
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://localhost:27010/main">Главная</a></li>
					</ul>					
				</div>
			</div>
		</nav>
    </div>
	<div class="container">
    	<div class="row">
			<div class="col-md-3 col-md-offset-0">
				<ul class="nav nav-pills nav-stacked">
				<li class="active"><a href="http://localhost:27010/userinfo/me">Личная информация</a></li>
				<li><a href="http://localhost:27010/userinfo/myorder">Мои заказы</a></li>
				<li><a href="http://localhost:27010/userinfo/myshops">Мои магазины</a></li>
				<li><a href="http://localhost:27010/shop_register">Регистрация магазина</a></li>
				</ul>
			</div>
			<div class="col-md-9 col-md-offset-0">
			<form class="form-horizontal">
				<fieldset>
					<legend>Личные данные</legend>
					<div class="form-group">
						<label for="username" class="col-lg-3 control-label">Логин:</label>
						<div class="col-lg-6">
							<input type="text" readonly="true" class="form-control" id="username" value="{{user.name}}">
						</div>
					</div>
					<div class="form-group">
						<label for="fname" class="col-lg-3 control-label">Имя:</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" id="name"  value="{{user.fname}}">
						</div>
					</div>
					<div class="form-group">
						<label for="lname" class="col-lg-3 control-label">Фамилия:</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" id="lname" value="{{user.lname}}">
						</div>
					</div>
					<div class="form-group">
						<label for="telephone" class="col-lg-3 control-label">Телефон:</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" id="telephone" value="{{user.tel}}">
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="col-lg-3 control-label">Email:</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" id="edit_username" value="{{user.email}}">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-lg-3 control-label">Пароль:</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" id="password" value="{{user.password}}">
						</div>
					</div>
				
					<div class="form-group">
						<div class="col-lg-6 col-lg-offset-3">
							<button type="submit" class="btn btn-primary">Сохранить изменения</button>
						</div>
					</div>
				</fieldset>
			</form>
			</div>
		</div>
	</div>

</body>
</html>