<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <title>Информационная система по продаже и покупке компьютерной техники</title>
	<link rel="stylesheet" href="/bootstrap.css" /> 
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
				<a class="navbar-brand"><font size="5" face="cursive">Компьютерная техника</font></a>
				</div>
			
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://localhost:27010/about">О сервисе</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if auth %}
						<li><a href="http://localhost:27010/logout">Выйти</a></li>
						{%else%}
						<li><a href="http://localhost:27010/authorize">Вход</a></li>
						{% endif %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if auth %}
						<li><a href="http://localhost:27010/userinfo/me">Личный кабинет</a></li>
						{% endif %}
					</ul>	
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://localhost:27010/main">Главная</a></li>
					</ul>					
				</div>
			</div>
		</nav>
    </div>
	<div class="container">
    	<div class="row">
			<div class="col-md-3 col-md-offset-0">
				<ul class="nav nav-pills nav-stacked">
					<li class="active"><a href="http://localhost:27010/search/product">Поиск товара</a></li>
					<li><a href="http://localhost:27010/search/shop">Поиск магазина</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-md-offset-0">
			<form class="form-horizontal" method="POST">
				<fieldset>
					<legend>Результат поиска</legend>
					{% if warningInfo %}
					<div class="alert alert-warning">
						{{warningInfo}}
					</div>
					{% elif errorInfo %}
					<div class="alert alert-danger">
						{{errorInfo}}
					</div>
					{% else %}
					{% if successInfo %}
						<div class="alert alert-success">
							{{successInfo}}
						</div>
					{% endif %}
					<table class="table table-striped table-hover ">
						<thead>
							<tr>
								<th>Название</th>
								<th>Цена</th>
								<th>Магазин</th>
							</tr>
						</thead>
						<tbody>
						{% for product in products %}
							<tr>
								<td>{{product.name}}</td>
								<td>{{product.price}}</td>
								<td>{{product.shop}}</td>
								<td><a href="http://localhost:27010/search/shop/{{product.shop}}" class="btn btn-link" value={{product.shop}}>Перейти к магазину</a></td>
								<td><a href="http://localhost:27010/order/add" class="btn btn-link" value={{product.shop}}>Заказвть</a></td>
							</tr>
						{% endfor %}
						</tbody>
					</table> 
					{% endif %}					
				</fieldset>
			</form>
			</div>
		</div>
	</div>
</body>
</html>