<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <title>Информационная система по продаже и покупке компьютерной техники</title>
	<link rel="stylesheet" href="/bootstrap.css" /> 
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
				<a class="navbar-brand"><font size="5" face="cursive">Компьютерная техника</font></a>
				</div>
			
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://localhost:27010/about">О сервисе</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if auth %}
						<li><a href="http://localhost:27010/logout">Выйти</a></li>
						{%else%}
						<li><a href="http://localhost:27010/authorize">Вход</a></li>
						{% endif %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if auth %}
						<li><a href="http://localhost:27010/userinfo/me">Личный кабинет</a></li>
						{% endif %}
					</ul>	
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://localhost:27010/main">Главная</a></li>
					</ul>					
				</div>
			</div>
		</nav>
    </div>
	<div class="container">
    	<div class="row">
			<div class="col-md-3 col-md-offset-0">
				<ul class="nav nav-pills nav-stacked">
					<li class="active"><a href="http://localhost:27010/search/product">Поиск товара</a></li>
					<li><a href="http://localhost:27010/search/shop">Поиск магазина</a></li>
				</ul>
			</div>
			<div class="col-md-9 col-md-offset-0">
			<form id="search-form" class="form-horizontal" method="GET" action="http://localhost:27010/search/product/result" role="form">
				<fieldset>
					<legend>Поиск товара</legend>
					{% if warningInfo %}
					<div class="alert alert-warning">
						{{warningInfo}}
					</div>
					{% elif errorInfo %}
					<div class="alert alert-danger">
						{{errorInfo}}
					</div>
					{% endif %}
					<div class="form-group">
						<label for="name" class="col-md-3 control-label">Название:</label>
						<div class="col-md-6">
							<input type="text" class="form-control" name="name" id="name">
						</div>
					</div>
					<div class="form-group">
						<label for="type" class="col-md-3 control-label">Тип товара:</label>
						<div class="col-md-6">
							<input type="text" class="form-control" name="type" id="type">
						</div>
					</div>
					<div class="form-group">
						<label for="company" class="col-md-3 control-label">Компания:</label>
						<div class="col-md-6">
							<input type="text" class="form-control" name="company" id="company">
						</div>
					</div>
					<div class="form-group">
						<label for="pricemin" class="col-md-3 control-label">Цена от:</label>
						<div class="col-md-6">
							<input type="text" pattern="\d+(\.\d{2})?" class="form-control" name="pricemin" id="pricemin">
						</div>
					</div>
					<div class="form-group">
						<label for="pricemax" class="col-md-3 control-label">Цена до:</label>
						<div class="col-md-6">
							<input type="text" class="form-control" name="pricemax" id="pricemax">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6 col-md-offset-5">
							<button type="submit" class="btn btn-primary">Искать товар</button>
						</div>
					</div>				
				</fieldset>
			</form>
			</div>
		</div>
	</div>
		<script type="text/javascript">
	function func()
	{
		var str = 'http://localhost:27010/search/product/'+document.getElementById('name').value.toString();
		document.location.href=str;
	}
	</script>
</body>
</html>