<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <title>Информационная система по продаже и покупке компьютерной техники</title>
	<link rel="stylesheet" href="/bootstrap.css" /> 
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
				<a class="navbar-brand"><font size="5" face="cursive">Компьютерная техника</font></a>
				</div>
			
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://localhost:27010/about">О сервисе</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if auth %}
						<li><a href="http://localhost:27010/logout">Выйти</a></li>
						{%else%}
						<li><a href="http://localhost:27010/authorize">Вход</a></li>
						{% endif %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if auth %}
						<li><a href="http://localhost:27010/userinfo/me">Личный кабинет</a></li>
						{% endif %}
					</ul>		
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://localhost:27010/main">Главная</a></li>
					</ul>					
				</div>
			</div>
		</nav>
    </div>
	
	<div class="container">
    	<div class="row">
			<div class="col-md-3 col-md-offset-0">
				<ul class="nav nav-pills nav-stacked">
				<li><a href="http://localhost:27010/userinfo/me">Личная информация</a></li>
				<li><a href="http://localhost:27010/userinfo/myorder">Мои заказы</a></li>
				<li><a href="http://localhost:27010/userinfo/myshops">Мои магазины</a></li>
				<li class="active"><a href="http://localhost:27010/userinfo/shop_register">Регистрация магазина</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-md-offset-1">
				<form id="register-form" action="http://localhost:27010/shop_register" enctype="multipart/form-data" method="post" role="form">
					<fieldset>
						<legend>Регистрация магазина</legend>
						{% if warningInfo %}
						<div class="alert alert-warning">
							{{warningInfo}}
						</div>
						{% elif errorInfo %}
						<div class="alert alert-danger">
							{{errorInfo}}
						</div>
						{% elif successInfo %}
						<div class="alert alert-success">
							{{successInfo}}
						</div>
						{% endif %}
						<div class="form-group">
							<label for="name">Название магазина*:</label>
							<input type="text" class="form-control" id="name" name="name" required>
						</div>
						<div class="form-group">
							<label for="tel" >Телефон:</label>
							<input type="text" class="form-control" id="tel" name="tel">
						</div>
						<div class="form-group">
							<label for="email" >Email*:</label>
							<input type="text" class="form-control" id="email" name="email" required>
						</div>
						<div class="form-group">
							<label for="site">Сайт магазина:</label>
							<input type="text" class="form-control" id="site" name="site">
						</div>
						<div class="form-group">
							<label for="license">Лицензия*:</label>
							<input type="text" class="form-control" id="license" name="license" required>
						</div>
						<div class="form-group">
							<label for="json">Добавить прайс лист в формате json:</label>
							<input type="file" id="json" name="json">
						</div>
						<div class="form-group">
							<div class="col-lg-10 col-lg-offset-1">
								<input type="submit" name="register-submit" id="register-submit" tabindex="8" onclick="return validPassword()" class="form-control btn btn-primary" value="Зарегистрировать">
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</body></html>