<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <title>Информационная система по продаже и покупке компьютерной техники</title>
	<link rel="stylesheet" href="/bootstrap.css" /> 
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
				<a class="navbar-brand"><font size="5" face="cursive">Компьютерная техника</font></a>
				</div>
			
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://localhost:27010/about">О сервисе</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if auth %}
						<li><a href="http://localhost:27010/logout">Выйти</a></li>
						{%else%}
						<li><a href="http://localhost:27010/authorize">Вход</a></li>
						{% endif %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if auth %}
						<li><a href="http://localhost:27010/userinfo/me">Личный кабинет</a></li>
						{% endif %}
					</ul>				
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://localhost:27010/main">Главная</a></li>
					</ul>					
				</div>
			</div>
		</nav>
    </div>
	<div class="container">
    	<div class="row">
			<div class="col-md-3 col-md-offset-0">
				<ul class="nav nav-pills nav-stacked">
				<li><a href="http://localhost:27010/userinfo/me">Личная информация</a></li>
				<li><a href="http://localhost:27010/userinfo/myorder">Мои заказы</a></li>
				<li class="active"><a href="http://localhost:27010/userinfo/myshops">Мои магазины</a></li>
				<li><a href="http://localhost:27010/shop_register">Регистрация магазина</a></li>
				</ul>
			</div>
			<div class="col-md-9 col-md-offset-0">
			<form class="form-horizontal">
				<fieldset>
					<legend>Товары магазина {{shop}}</legend>
					{% if warningInfo %}
					<div class="alert alert-warning">
						{{warningInfo}}
					</div>
					{% elif errorInfo %}
					<div class="alert alert-danger">
						{{errorInfo}}
					</div>
					{% else %}
					<table class="table table-striped table-hover ">
						<thead>
							<tr>
							<th>Код товара</th>
							<th>Название</th>
							<th>Компания</th>
							<th>Тип товара</th>
							<th>Цена</th>
							</tr>
						</thead>
						<tbody>
						{% for prod in products %}
							<tr>
								<td>{{prod.code}}</td>
								<td>{{prod.name}}</td>
								<td>{{prod.company}}</td>
								<td>{{prod.type}}</td>
								<td>{{prod.price}}</td>
								<td><a href="http://localhost:27010/userinfo/myshops/products/{{shop}}/{{prod.code}}" class="btn btn-link" value={{prod.code}}>Редактировать</a></td>
							</tr>
						{% endfor %}
						</tbody>
					</table> 
					{% endif %}					
				</fieldset>
			</form>
			</div>
		</div>
	</div>

</body>
</html>