<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">    
    <title>Информационная система по продаже и покупке компьютерной техники</title>
	<link rel="stylesheet" href="bootstrap.css" /> 
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
				<a class="navbar-brand"><font size="5" face="cursive">Компьютерная техника</font></a>
				</div>
			
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://localhost:27010/about">О сервисе</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if auth %}
						<li><a href="http://localhost:27010/logout">Выйти</a></li>
						{% endif %}
						<li><a href="http://localhost:27010/authorize">Вход</a></li>
					</ul>	
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://localhost:27010/main">Главная</a></li>
					</ul>					
				</div>
			</div>
		</nav>
    </div>
	
	
	<div class="container">
		{% if errorInfo %}
		  <div class="alert alert-danger">
			{{errorInfo}}
		  </div>
		{% endif %}
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Регистрация пользователя</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="register-form" action="http://localhost:27010/user_register" method="post" role="form" style="display: block;">
									<div class="form-group">
										<label>Логин*</label>
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Логин" required>
									</div>
									<div class="form-group">
										<label>Имя*</label>
										<input type="text" name="fname" id="fname" tabindex="2" class="form-control" placeholder="Имя" required>
									</div>
									<div class="form-group">
										<label>Фамилия</label>
										<input type="text" name="lname" id="lname" tabindex="3" class="form-control" placeholder="Фамилия">
									</div>
									<div class="form-group">
										<label>Телефон</label>
										<input type="tel" name="tel" id="tel" tabindex="4" class="form-control" placeholder="Телефон">
									</div>
									<div class="form-group">
										<label>Email*</label>
										<input type="email" name="email" id="email" tabindex="5" class="form-control" placeholder="Email" required>
									</div>
									<div class="form-group">
										<label>Пароль*</label>
										<input type="password" name="password" id="password" tabindex="6" class="form-control" placeholder="Пароль" required>
									</div>
									<div class="form-group">
										<input type="password" name="subpas" id="subpas" tabindex="7" class="form-control" placeholder="Подтвердить пароль" required>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="8" onclick="return validPassword()" class="form-control btn btn-primary" value="Зарегистрироваться">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="button" name="go-to-login" id="go-to-login" tabindex="9" class="form-control btn btn-primary" onclick="location.href='http://localhost:27010/authorize'" value="Перейти к странице входа">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	function validPassword () {
		var password1 = document.getElementById('password');
		var password2 = document.getElementById('subpas');
		if (password1.value !== password2.value) {
			alert('Пароли не совпадают!');
			return false;
		}else return checkForm(this);
	}
	</script>
</body></html>